html * {
    font-family: 'Lato', sans-serif;
}
html,
body {
    height: 100%;
    font-size: 10px;
}
h1 {
    color: ##00566e;
    font-size: 2.7em;
}
a {
    cursor: pointer;
}
#header {
    padding: 10px;
}
#header img {
    vertical-align: middle;
    max-height: 170px;
}
#navbar {
    background-color: #f7f7f7;
    font-size: 1em;
    border-top: 0.5px solid #eee;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
}
#navbar .nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #b7b7b7;
    font-weight: 400;
    font-size: 1.4em;
}
#navbar .nav > li > a:hover, 
#navbar .nav > li > a:focus,
#navbar .nav > li > a.selected {
    color: #272727;
    background-color: #f7f7f7;
    box-shadow: inset 0 4px 0 0 #005571;
    outline: none;
}
.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-menu {
    width: 18em;
}
.dropdown-menu > li > a {
    font-size: 1.4em;
}
.fa {
    padding-left: 1em;
}
.slideshow-container {
    height: 30vh;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.18);
}
.carousel {
    height: 100%;
}
.carousel-control
{
    background-image: none !important;
    width: 10%;
    color: #CCC !important;
}
.carousel .container {
    padding: 0 1em;
}
#services {
    font-size: 1.4em;
    text-align: center;
}
#services .service-block p{
    text-align: left;
}
#services .service-block-left {
    padding-left: 0px;
    margin-left: 0px;
    float:left;
}
#services .service-block-right {
    padding-right: 0px;
    margin-right: 0px;
    float: right;
}
#services .service-icon {
    float: left;   
}
#services .container .service-block-left h3{
    margin-top: 19px;
    margin-bottom: 18px;
}
#services .container .service-block-right h3{
    margin-top: 8px;
    margin-bottom: 3px;
}
#services .container p {
    padding-top: 25px;
}
.content {
/*    padding-top: 10em;*/
}
.content > .container {
/*    padding-bottom: 20em;*/
}
#sample-image {
    height: 200px;
    width: 200px;
    background-color: gray;
}
.content p {
    font-size: 1.6em;
}
.content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.content li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.18);
    height: 3.5em;
    line-height: 3.5em;
    background: #F9F9F9;   
}
.footer ul {
    right: 0;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline;
    padding: 0 2em;
}
.footer li a {
    color: #005571;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    font-size: 1.1em;
}
.footer li > a:hover,
.footer li > a:focus {
    background-color: white;
}
.footer p {
    color: #005571;
    left: 0;
    position: fixed;
    margin-left: 2em;
    font-size: 1.1em;
}

@media (min-width:768px){
    .footer ul > li:not(:last-child) {
        border-right:1px solid #005571;
    }
}