html * {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
#header {
    max-width: 100%;
    height: 170px;
    padding: 10px;
}
#header img {
    vertical-align: middle;
    height: 100%;
}
#navbar {
    background-color: #f7f7f7;
    font-size: 1em;
    border-top: 0.5px solid #eee;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
}
#navbar .nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #b7b7b7;
    font-weight: 400;
    font-size: 1.4em;
}
#navbar .nav > li > a:hover, 
#navbar .nav > li > a:focus {
    color: #272727;
    background-color: #f7f7f7;
    box-shadow: inset 0 4px 0 0 #005571;
}